* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #4e54c8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container {
    width: 500px;
    height: 100vh;
    margin: 0 auto;
}

.header {

    padding: 15px;
    color: #fff;
}

.header .title {

    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.header .title i {
    font-size: 24px;
    margin-right: 10px;
}

.header .title span {
    font-size: 18px;
}

.header .description {
    font-size: 13px;
}

.content {

    padding: 15px;
}

.card {
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.input-control {
    width: 400px;
    display: black;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 10px;
}

.text-right {
    text-align: right;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background: #4e54c8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    color: #fff;
    border: 1px solid;
    border-radius: 3px;
}

.task-item {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}

.text-orange {
    color: orange;
}

.text-red {
    color: red;
}